/* Your stylesheet */


/* The sidebar menu */
body {
    background: rgb(126, 127, 128);
  }
  
  .skyblue {
    background: rgb(38, 77, 90);
  }

  
  .box{
    padding: 10px;
    background: rgb(247, 239, 239);
    margin-top:10px;
    margin-left:10px;
    margin-right:5px;
    margin-bottom:20px;
    align-content: center;
  }
  
  .navbar {
    margin-right: 0px;
    margin-left: 0px;
    padding: 25px;
    background: rgb(74, 99, 126);
    }
  
  .navbar li {
    display: d-block;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
    cursor: pointer;
  }

  .active, .dropdown-menu .dropdown-item:active a:hover{
    background-color:#E7E7E7!important; 
  }
  .dropdown-item{
    color: #6D8092 !important; 
  }
  .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color:#E7E7E7 !important; 
  }
  a{
    color: #6D8092;
    font-size: 15px; 
  }
   }
  h1 {
    font-size: 36px;
    color: red;
  }
  h2 {
    font-size: 22px;
    color: black;
  }
  
  p{
      font-size: 18px;
      color: blue;
  }
  
  footer {
    text-align: center;
    padding: 3px;
    background-color:lightgray;
    color:yellow;
  }
  img {
    width: 100%;
  }

  @media (max-width: 500px) {
    .navbar li {
      padding: 10px;
    }
    .box {
      margin-right: 22px;
      margin-left: 22px;
    }
    .navbar ul {
      visibility: hidden;
    }
    #nav-select {
      visibility: visible;
    }
  }
  ul{
    color: blue;
  
  }
  
  .col-1 {width: 8%;}
  .col-2 {width: 17%;}
  .col-3 {width: 24%;}
  .col-4 {width: 32%;}
  .col-5 {width: 40%;}
  .col-6 {width: 50%;}
  .col-7 {width: 60%;}
  .col-8 {width: 70%}
  .col-9 {width: 75%;}
  .col-10 {width: 82%;}
  .col-11 {width: 92%;}
  .col-12 {width: 100%;}
  
  @media only screen and (max-width: 768px) {

      [class*="col-"] {
          width: 100%;
      }
  }
  /* Style the links inside the sidenav */

  
  
  /* The about link: 20px from the top with a green background */
  #Temperature {
    top: 120px;
    background-color: #4CAF50;
    color: black;
  }
  
  #Cloudiness {
    top: 310px;
    background-color: #2196F3;
    color: black; /* Blue */
  }
  
  #Humidity {
    top: 510px;
    background-color: #f44336; 
    color: black;/* Red */
  }
  
  #Speed {
    top: 710px;
    background-color: rgb(236, 218, 57);
    color: black;/* Light Black */
  }